<ion-header *ngIf="!isLoading">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading? 'Loading' : singleItem.name }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="!isLoading">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && !singleItem" text-center>
        <p>Item Not Found.</p>
      </ion-col>
      <ion-col size-md="6" offset-md="3" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <a href="{{singleItem.link}}">Open Item on Amazon</a>
            </ion-card-subtitle>
            <ion-card-title>{{singleItem.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="singleItem.imgUrl"></ion-img>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{singleItem.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="singleItem.imgUrl"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
