<ion-header *ngIf="!isLoading">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading? 'Loading' : singleItem.name }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="!isLoading">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && !singleItem" text-center>
        <p>Item Not Found.</p>
      </ion-col>
      <ion-col size-md="6" offset-md="3" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <a href="{{singleItem.link}}">Open Item on Amazon</a>
            </ion-card-subtitle>
            <ion-card-title>{{singleItem.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="singleItem.imgUrl"></ion-img>
            <h3>Current Price: {{singleItem.price}}</h3>
            <h3>Target Price: {{singleItem.targetPrice}}</h3>
            <h3>Added to tracker: {{singleItem.created_date | date}}</h3>
            <h3>Lowest Tracked Price:</h3>
              <p>Price: {{lowestTrackedPrice.price}}</p>
              <p>When? {{lowestTrackedPrice.date | date}}</p>
            <ion-list>
              <ion-radio-group>
                <ion-list-header>
                  <ion-label>Following?</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="yes" [checked]="checkFollowingDefault(singleItem)"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="no"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
